<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="Sokoban.GameServers" type="Sokoban.Configuration.ServerConfigurationSection, Sokoban" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sokoban.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sokoban.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <Sokoban.GameServers>
    <servers>
      <add name="http://127.0.0.1/www/" />
      <add name="http://sokoban.research-site.net/www/" />
      <add name="http://sokobanError.martinvseticka.eu/" />
    </servers>
  </Sokoban.GameServers>

  <userSettings>
      <Sokoban.Properties.Settings>
          <setting name="IsSplashEnabled" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="ConsoleCommandPrefix" serializeAs="String">
              <value>&gt; </value>
          </setting>
          <setting name="IsSoundEnabled" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="IsSavingWindowLayoutEnabled" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="WindowLayout" serializeAs="String">
              <value />
          </setting>
      </Sokoban.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Sokoban.Properties.Settings>
      <setting name="ConsoleInitialText" serializeAs="String">
        <value>[Sokoban's console; for help, please type 'help']</value>
      </setting>
    </Sokoban.Properties.Settings>
  </applicationSettings>
</configuration>