<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="Product.Generated">
      <ComponentGroupRef Id="ChooseConnectionDialog.Binaries" />
      <ComponentGroupRef Id="ChooseConnectionDialog.Content" />
      <ComponentGroupRef Id="ChooseConnectionDialog.Satellites" />
      <ComponentGroupRef Id="Console.Binaries" />
      <ComponentGroupRef Id="Console.Content" />
      <ComponentGroupRef Id="Console.Satellites" />
      <ComponentGroupRef Id="GameDeskControl.Binaries" />
      <ComponentGroupRef Id="GameDeskControl.Content" />
      <ComponentGroupRef Id="GameDeskControl.Satellites" />
      <ComponentGroupRef Id="GameDocs.Binaries" />
      <ComponentGroupRef Id="GameDocs.Content" />
      <ComponentGroupRef Id="GameDocs.Satellites" />
      <ComponentGroupRef Id="GameRepository.Binaries" />
      <ComponentGroupRef Id="GameRepository.Content" />
      <ComponentGroupRef Id="GameRepository.Satellites" />
      <ComponentGroupRef Id="Lib.Binaries" />
      <ComponentGroupRef Id="Lib.Content" />
      <ComponentGroupRef Id="Lib.Satellites" />
      <ComponentGroupRef Id="Networking.Binaries" />
      <ComponentGroupRef Id="Networking.Content" />
      <ComponentGroupRef Id="Networking.Satellites" />
      <ComponentGroupRef Id="PendingGames.Binaries" />
      <ComponentGroupRef Id="PendingGames.Content" />
      <ComponentGroupRef Id="PendingGames.Satellites" />
      <ComponentGroupRef Id="PluginAim.Binaries" />
      <ComponentGroupRef Id="PluginAim.Content" />
      <ComponentGroupRef Id="PluginAim.Satellites" />
      <ComponentGroupRef Id="PluginBox.Binaries" />
      <ComponentGroupRef Id="PluginBox.Content" />
      <ComponentGroupRef Id="PluginBox.Satellites" />
      <ComponentGroupRef Id="PluginFakeBox.Binaries" />
      <ComponentGroupRef Id="PluginFakeBox.Content" />
      <ComponentGroupRef Id="PluginFakeBox.Satellites" />
      <ComponentGroupRef Id="PluginInterface.Binaries" />
      <ComponentGroupRef Id="PluginInterface.Content" />
      <ComponentGroupRef Id="PluginInterface.Satellites" />
      <ComponentGroupRef Id="PluginMonster.Binaries" />
      <ComponentGroupRef Id="PluginMonster.Content" />
      <ComponentGroupRef Id="PluginMonster.Satellites" />
      <ComponentGroupRef Id="PluginOrdinary.Binaries" />
      <ComponentGroupRef Id="PluginOrdinary.Content" />
      <ComponentGroupRef Id="PluginOrdinary.Satellites" />
      <ComponentGroupRef Id="PluginSokoban.Binaries" />
      <ComponentGroupRef Id="PluginSokoban.Content" />
      <ComponentGroupRef Id="PluginSokoban.Satellites" />
      <ComponentGroupRef Id="PluginSoTh.Binaries" />
      <ComponentGroupRef Id="PluginSoTh.Content" />
      <ComponentGroupRef Id="PluginSoTh.Satellites" />
      <ComponentGroupRef Id="PluginWall.Binaries" />
      <ComponentGroupRef Id="PluginWall.Content" />
      <ComponentGroupRef Id="PluginWall.Satellites" />
      <ComponentGroupRef Id="QuestsControl.Binaries" />
      <ComponentGroupRef Id="QuestsControl.Content" />
      <ComponentGroupRef Id="QuestsControl.Satellites" />
      <ComponentGroupRef Id="SolverLibrary.Binaries" />
      <ComponentGroupRef Id="SolverLibrary.Content" />
      <ComponentGroupRef Id="SolverLibrary.Satellites" />
      <ComponentGroupRef Id="Solvers.Binaries" />
      <ComponentGroupRef Id="Solvers.Content" />
      <ComponentGroupRef Id="Solvers.Satellites" />
      <ComponentGroupRef Id="SettingsDialog.Binaries" />
      <ComponentGroupRef Id="SettingsDialog.Content" />
      <ComponentGroupRef Id="SettingsDialog.Satellites" />
    </ComponentGroup>
  </Fragment>
</Wix>