<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Sokoban.GameServers" type="Sokoban.Configuration.ServerConfigurationSection, Sokoban" requirePermission="false" />
  </configSections>
  <Sokoban.GameServers>
    <servers>
      <add name="http://sokoban.martinvseticka.eu/" />            
      <add name="http://127.0.0.1/martinvseticka.eu/sokoban.martinvseticka.eu/" />
      <add name="http://sokobanError.martinvseticka.eu/" />
    </servers>
  </Sokoban.GameServers>
  <appSettings>
    <add key="IsSplashEnabled" value="false"/>
    <add key="ConsoleInitialText" value="[Sokoban's console; for help, please type 'help']"/>
    <add key="ConsoleCommandPrefix" value="> "/> 
  </appSettings>
</configuration>