<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Sokoban.GameServers" type="Sokoban.Configuration.ServerConfigurationSection, Sokoban" requirePermission="false" />
  </configSections>
  <Sokoban.GameServers>
    <servers>
      <add name="http://sokoban.martinvseticka.eu/" />            
      <add name="http://127.0.0.1/martinvseticka.eu/sokoban.martinvseticka.eu/" />
      <add name="http://sokobanError.martinvseticka.eu/" />
    </servers>
  </Sokoban.GameServers>
  <appSettings>
    <add key="EnableSplashScreen" value="true"/>
    <add key="ConsoleInitialText" value="[Sokoban's console; for help, please type 'help']"/>
    <add key="ConsoleCommandPrefix" value="> "/> 
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xna.Framework" publicKeyToken="6D5C3888EF60E27D" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>